@white: #f5f5f5;
@black: rgba(23, 23, 29, 1);
@one-color: #8C8C87;
@two-color: #BFBAB0;
@three-color: #0D0D0D;
@four-color:#C4C4C4;

.socials {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: @two-color;
    text-decoration: none;
}
